* { margin: 0;
    padding: 0;
    box-sizing: border-box;}

    h2{
        font-size: 30px;
         padding: 20px; 
    } 
    .contenedore{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        justify-content: center;
        height: 100vh;
        max-width: 100%;
        
    }  
    
    button{
        padding: 13px 30px;
        border-radius: 15px;
        border: none;
        background-color: #15a6e8;
        color: #ffffff;
    }   
    
    @media screen and (max-width: 800px) {
       
        .tituloe{
            align-items: center;
            padding: 3px; 
        }
       
    } 